{% include 'pagelist-pager.html' %}

{% for page in pages %}
<div class="panel panel-default">
    <div class="panel-heading">
        <a href="{{page.url}}">{{page.title}}</a> 
        <span class="pull-right text-muted">{{page.mdate_string}}</span>
    </div>
    <div class="panel-body">
        {% if post_type == 'full' %}
            {{page.target_text}}
        {% elif post_type == 'preview' %}
            <div class="htmltruncate-md">
                {{page.target_text}}
                <div class="htmltruncate-bottom"></div>
            </div>
            <a href="{{page.url}}" class="btn btn-default">...</a>
        {% else %}
            {{page.blurb}}
            <a href="{{page.url}}" class="btn">Read more</a>
        {% endif %}
    </div>
</div>
{% endfor %}

{% include 'pagelist-pager.html' %}


